<!DOCTYPE html>
<html>

<head>
  <title>API</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  
   <form action="/" method="get">
    <div>
      <h1><label for="name">Enter car make</label></h1>
      <input type="text"  name="name"/>
    </div>
    <div>
      <input type="submit" value="submit">
    </div>
  </form>

  <div>
    <br>
    <hr>
    <% if (locals.data) { %>
      <h2>Found <%= data.length %> models:</h2>
      <ul>
        <% data.forEach(model => { %>
          <li><%= model.Model_Name %></li>
        <% }) %>
      </ul>
    <% } %>

  </div>

</body>

</html>